nav {
    background-color: #3498db;
    padding: 1rem 0;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

nav ul li {
    position: relative;
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    position: relative;
    overflow: hidden;
}

nav ul li a:hover {
    color: #18394e;
}