nav {
    background-color: #3498db;
    padding: 0.25rem 0; /* Reduced padding to make the navbar thinner */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

nav ul li {
    position: relative;
    margin: 0 0.5rem;
}

nav ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: 500;
    transition: all 0.3s ease;
    padding: 0.3rem 0.8rem; 
    position: relative;
    overflow: hidden;
    font-size: 0.9rem;
}

nav ul li a:hover {
    color: #18394e;
}
