.brand-name img{
    width: 30px;
    height: auto;

}
.brand-name h1{
    font-size: smaller;
    background-color: #3498db;
    border: #3498db;
    border-radius: 2;
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}